VITE_SUPABASE_URL=https://gyzfzzdfcrtvhytrqbgd.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HtgF4rf3GJpC1vFlLUpo2A_IwJfUQLD
VITE_API_URL=http://localhost:3000/api/v1
VITE_SOCKET_URL=http://localhost:3000
VITE_SUPABASE_FUNCTIONS_URL=https://gyzfzzdfcrtvhytrqbgd.supabase.co/functions/v1
VITE_USE_SUPABASE_EDGE_SESSIONS=false
VITE_GOOGLE_CLIENT_ID=683485852302-63lv989d55r2ftbih6t0rtapitpif6qe.apps.googleusercontent.com
