PORT=3000
FRONTEND_URL=http://localhost:8080
DATABASE_URL=your_neon_database_url
DATABASE_DIRECT_URL=your_neon_direct_database_url
JWT_SECRET=replace_me
SUPABASE_URL=https://gyzfzzdfcrtvhytrqbgd.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_HtgF4rf3GJpC1vFlLUpo2A_IwJfUQLD
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEON_DATABASE_URL=your_neon_database_url
